# Overall Settings
GROQ_API_KEY=your_api_key_here
DATA_PATH="data"
TEMP_PATH="temp"
CHROMA_PATH="chroma"
BACKEND_PORT=5050
VITE_API_URL=http://localhost:5050/api

# LLM Settings
TEMPERATURE=0.7
MODEL_NAME="llama-3.1-8b-instant" # MAIN CHOICES: llama-3.3-70b-versatile or llama-3.1-8b-instant

# RAG Settings
RAG_ENABLED: bool = True
RAG_TOP_K: int = 5
CHUNK_SIZE: int = 300
CHUNK_OVERLAP: int = 100
EMBEDDING_MODEL: str = "all-mpnet-base-v2"