# Overall Settings
GROQ_API_KEY=your_api_key_here
DATA_PATH="data"
TEMP_PATH="temp"
CHROMA_PATH="chroma"
BACKEND_PORT=5050
VITE_API_URL=http://localhost:5050/api
USER_AGENT="Mozilla/5.0"

# LLM Settings
TEMPERATURE=0.7
MODEL_NAME="llama-3.1-70b-versatile" # default startup model (can be switched by user afterwards)
VITE_MAX_PROMPT_LENGTH=5000 # Maximum prompt length in characters

# RAG Settings
RAG_ENABLED=True
RAG_TOP_K=5
CHUNK_SIZE=300
CHUNK_OVERLAP=100
EMBEDDING_MODEL="all-mpnet-base-v2" # MAIN CHOICES: all-mpnet-base-v2, sentence-transformers/all-MiniLM-L6-v2, etc.